.home{
    background-color: black;
    width: 100%;
    height: 100%;
    margin-bottom: 100%;
}
html, body {
    height: 100%;
    background-color: black;
  }
  body {
    display: flex;
  }
.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 90vh;
}

.splash.display-none{
    position: fixed;
    top: 0;
    opacity: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: -10;
    color: white;
    text-align: center;
    line-height: 90vh;
}



@keyframes fadeIn{
    to{
        opacity: 1;
    }
}



.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}


.mainmenu{
    background: black;
    color: white;
    height: 100%;
}

.mainmenu img{
    width: 800px;
    height: 800px;
    margin-left: -35px;
    margin-bottom: 80px;
}

.sign{
    margin-left: 300px;
    margin-top: 180px;

}

select{
    background-color: black;
    color: white;
    border:none;
    font-size: 40px;
    width: 100px;
}

.backbtn{
    color:#DFC681;
    background-color: black;
    outline: none;
    border:none;
    height:80px;
    width: 80px;
    font-size: 100px;
    margin-left: -80px;
    margin-top: 20px;

}

.mainmenu .btn{

        width: 260px;
        height: 55px;
        font-size: 22px;
        display: block;
        margin: 30px auto;
        padding: 10px;
      
        overflow: hidden;
    
        outline: none;
        border-radius: 26px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
        
        transition: background-color .3s;
        font-family:'Raleway', sans-serif;
        font-weight: bold;
        border: 2px solid #DFC681;
        background-color: black;
        color: #DFC681;
     
     
        
        
      
}

.mainmenu.btn:before{
    
        content: "";
        
        position: absolute;
        top: 50%;
        left: 50%;
        
        display: block;
        width: 0;
        padding-top: 0;
          
        border-radius: 100%;
        
        background-color: rgba(236, 240, 241, .3);
        
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
      
  

.mainmenu.btn:hover{
    color: white;
}

.mainmenu.display-none{
    background: black;
    color: white;
    opacity: 0;
    z-index: -20;
}

.horoscope{
    background: black;
    color: white;
    z-index: 100;
}
.horoscope.display-none{
    background: black;
    color: white;
    opacity: 0;
    z-index: -20;
}


.tarrot{
    background: black;
    color: white;
    z-index: 100;
}
.tarrot.display-none{
    background: black;
    color: white;
    opacity: 0;
    z-index: -20;
}